# Exemplo de variáveis de ambiente para o frontend
# Copie este arquivo para .env e ajuste conforme necessário.

VITE_API_URL=http://localhost:3333/api
VITE_USE_FIREBASE_AUTH=true
VITE_FIREBASE_API_KEY=AIzaSyAK8rbsT7gwFGI2jEJK6f08YD19sGix0RE
VITE_FIREBASE_AUTH_DOMAIN=betastore-18b12.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=betastore-18b12
VITE_FIREBASE_STORAGE_BUCKET=betastore-18b12.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=611691043433
VITE_FIREBASE_APP_ID=1:611691043433:web:88f5adb05dd91cca8a20f8
VITE_FIREBASE_MEASUREMENT_ID=G-8Z75VDDLFP
